ENV=dev
API_PORT=8080
API_HOST_PORT=8080
NGINX_HOST_PORT=8088

POSTGRES_DSN=postgres://app:app@postgres:5432/app?sslmode=disable
REDIS_ADDR=redis:6379

S3_ENDPOINT=minio:9000
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
S3_BUCKET=tracks
